{% extends "_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Monkey info &mdash; {{ super() }}{% endblock %}

{% block main_content %}
<h1 class="page-header">Monkey info</h1>
<dl>
	<dt>Name:</dt><dd>{{ monkey.name }}</dd>
	<dt>Age</dt><dd>{{ monkey.age }}</dd>
	<dt>Email</dt><dd>{{ monkey.email }}</dd>
	{% if monkey.best_friend: %}
	<dt>Best friend:</dt><dd><a href="{{ url_for('.view_monkey', id=monkey.best_friend.id) }}">{{ monkey.best_friend.name }}</a></dd>
	{% endif %}
	<br>
	<dt>Friends:</dt><dd><a href="{{ url_for('.view_add_friend', monkey_id=monkey.id) }}">View</a></dd>
	<br>
	<dt>Actions:</dt><dd><a href="{{ url_for('.edit_monkey', id=monkey.id) }}">Edit</a> | <a href="{{ url_for('.delete_monkey', id=monkey.id) }}">Delete</a></dd>
</dl>
{% endblock %}